@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.github {
  width: 32px;
  height: 32px;
  margin-left: -4px;
}
